* {
   font-family: Verdana;
}

h1,
h2,
p {
   color: darkblue;
   text-align: center;
}

table {
   border: 3px solid navy;
   margin: auto;
   background-color: whitesmoke;
   border-collapse: collapse;
}

body {
   background-image: url("./spikes.png");
}

.code {
   font-family: monospace;
   background-color: lightskyblue;
   color: navy;
}

th, td {
   border: 1px solid navy;
   font-size: 14px;
}

th {
   background-color: gainsboro;
}